{% include 'header.html' %}
    <div class="container">
        <h3>Welcome to the food court app</h3>
        <div class="panel">
            <div class="panel-body" style="border:solid;border-color:grey;">
                <a href="/api/login" class="btn btn-primary" id="loginButton">Login</a>
                <a href="/api/get_users" class="btn btn-info" id="usersButton">Show users</a>
                <a href="/api/get_restaurents" class="btn btn-info" id="restaurentButton">List outlets</a>
            </div>
        </div>
    </div>
{% include 'footer.html' %}
